SYNC_TOKEN=
OPENAI_API_BASE=https://litellm01.icncd.ru/v1
OPENAI_API_KEY=
SYNC_URL=https://iconicompany.ru/nextapi/sync
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
SITE_BASE_URL=https://iconicompany.com
